[Unit]
Description=avahi_TTYD
After=network.target avahi-daemon.service ttyd.service
Wants=network.target avahi-daemon.service ttyd.service
ConditionPathExists=/usr/bin/avahi-publish-service

[Service]
ExecStart=/usr/bin/avahi-publish-service -s ttyd _http._tcp 7681
Type=simple
Restart=always
RestartSec=1
User=root
Group=root

[Install]
WantedBy=multi-user.target
