[Unit]
Description=Android shared storage
DefaultDependencies=no
After=local-fs.target
Before=multi-user.target

[Mount]
What=android
Where=/mnt/shared
Type=virtiofs
Options=rw,nofail

[Install]
WantedBy=multi-user.target
