[Unit]
Description=Android Terminal web console
After=syslog.target network.target
Wants=network.target
ConditionPathExists=/usr/bin/ttyd

[Service]
ExecStartPre=/usr/local/lib/avf/make-ttyd-cert
ExecStart=/usr/local/lib/avf/start-ttyd
Restart=always
RestartSec=1
User=root
Group=root

[Install]
WantedBy=multi-user.target
